 *{
     padding: 0px;
     margin: 0px;
}
 .div1 img{
     width: 100%;
     height: 600px;
     opacity: 0.7;
     z-index: -1;
     bottom: 1px;
     position: absolute;
}
 .header{
     background: black;
     height: 60px;
}
 .header h3{
     font-family: 'Rubik Vinyl', cursive;
     padding: 12px;
     font-weight: bold;
     font-size: 30px;
     margin-left: 15px;
     text-decoration: underline;
     color: whitesmoke;
}
 .div1 h2{
     padding: 9px;
     font-weight: bold;
     font-size: 70px;
     margin-left: 10%;
     margin-top: 4%;
     color: #e62e00;
     font-family: 'Kaushan Script', cursive;
}
 .div1 p{
     padding: 15px;
     font-size: 16px;
     text-align: justify;
     color:black;
     margin-left: 11%;
     font-weight: bold;
     margin-right: 33%;
     word-spacing: 5px;
     margin-bottom: 2%;
     line-height: 25px;
     margin-top: 35px;
}
 .div1 h2 span{
     color: grey;
     font-size: 60px;
     width: 70%;
}
 .div1 input[type=button]{
     margin-left: 12%;
     border: none;
     font-weight: bold;
     font-size: 20px;
     cursor: pointer;
     border-radius: 50px;
     background: black;
     padding: 15px 25px;
     display: inline-block;
     opacity: 0.9;
     color: white;
}
 .div1 .button:hover{
     background-color: grey;
}
 .header nav{
     float: right;
     position: relative;
     margin-top: -45px;
}
 .header nav a:hover{
     background: grey;
     padding: 20px;
}
 .header nav a{
     text-decoration: none;
     font-size: 20px;
     padding: 40px;
     color: white;
     font-family: bold;
}
 .blogsItem{
     margin-top: 15%;
}
 .blogsItem{
     text-decoration: underline;
     text-align: center;
     font-family: sans-serif;
     letter-spacing: 4px;
}
 .blogs1 img , .blogs2 img , .blogs3 img{
     color: white;
     padding: 20px;
     margin: 10px;
     width: 25%;
     border: none;
     top: 50x;
     display:inline;
     height: 300px;
     text-align: center;
     font-size: 50px;
     margin-top: 7%;
     border: 1px solid black;
     position: relative;
}
 .blogs1 img:hover{
     background-color: black;
     width: 30%;
}
 .blogs2 img:hover{
     background-color: black;
     width: 30%;
}
 .blogs3 img:hover{
     background-color: black;
     width: 30%;
}
 .blogs1 p{
     text-decoration: none;
     position: absolute;
     margin-left: 10%;
     margin-bottom: 3%;
}
 .sendBlogs{
     margin-top: 10%;
     background-color: #FAF8F1;
}
 .sendBlogs h2{
     text-align: center;
     font-family: sans-serif;
     letter-spacing: 4px;
     padding: 50px;
     font-size: 30px;
}
 input[type=text] , textarea{
     display: block;
     padding: 10px;
     margin-top: 10px;
     width: 50%;
     margin-left: 26%;
}
 input[type=submit]{
     display: block;
     color: white;
     background-color: black;
     padding: 10px;
     margin-top: 10px;
     width: 52%;
     font-weight: bold;
     font-size: 15px;
     letter-spacing: 3px;
     margin-left: 26%;
}
 input[type=submit]:hover{
     background-color: #1E212D;
}
